body{
    background-image: url("https://wallpapers.com/images/hd/dodge-challenger-matte-black-ugf9abr9ch0f6d2p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


div{
    
    width:40%;
    font-size:x-large;
    color:silver;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow:15px 15px 20px rgb(0,0,0);

}

input{
    width:250px;
    height:20px;
    border:3px solid black;
    border-radius: 30px;
}

button{
    width:150px;
    height:40px;
    background-color: black;
    color:white;
    font-size: large;
    border:3px solid white;
    border-radius: 30px;;
}

td{
    padding-bottom:30px;
    padding-left:30px;
}