img{
    width:200px;
    height:200px;
    border:3px blue;
    border-radius: 30px;;
}
.sub{
   
    width:400px;
    border:3px solid blue;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition: all 0.5s ease-in-out;
}
.main{
    display:flex;
    justify-content: center;
    column-gap: 30px;
    transition: all 0.5s ease-in-out;
   
}

.main:hover .sub{
    transform: scale(0.8);
}
.main .sub:hover{
    transform:scale(1) rotate(5deg);
    background-color: blue;
    border:3px solid black;
}   

header{
    background-color: blue;
    font-size: 50px;
    color:white;
    text-align: center;
}
footer{
    background-color: blue;
    font-size: 35px;
    color:white;
    text-align: center;
}